
    .root-3 {
        display: flex;
        flex-direction: column;
        background-image: url(/img/footer-bg.jpg);
        height: 69vh;
    }

    .barra-link {
        padding: 0px 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0282F9;
    }

    .image {
        width: 40px;
        height: 45px;
    }

    ul.primo {
        margin: 10px;
        display: flex;
    }

    ul.primo li {
        color: white;
        list-style: none;
        margin: 10px;
    }

    ul.primo li:hover {
        color: blue;
        cursor: pointer;
    }

    ul.seconda {
        color: white;
    }

    ul.seconda li:first-child {
        margin: 10px 0px;
        color: white;
    }

    ul.seconda li {
        color: rgba(255, 255, 255, 0.473);
        list-style: none;
        font-size: 14px;
    }

    .barra-link-2 {
        padding: 0 150px;
    }

    .dc-logo {
        height: 100%;
        background-image: url(/img/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 50px;
    }

    .sing-up {
        padding: 20px 150px;
        background-color: #303030;
        height: 80px;
        justify-content: space-between;
        align-items: baseline;
    }

    .log {
        color: white;
        border: 1px solid #0282F9;
        padding: 10px;
    }

    .sing-up ul {
        display: flex;
        list-style: none;
    }

    .sing-up ul li img {
        width: 20px;
        height: 20px;
        margin: 5px;
    }

    .sing-up ul li:first-child {
        color: #11518D;
    }

